[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "betfairlightweight>=2.22.0",
    "pyinstaller>=6.17.0",
    "telethon>=1.42.0",
]
